/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: static;
  top: auto;
  background-color: transparent;
  border-bottom: 0;
  -webkit-animation: none;
          animation: none;
  z-index: 1;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 0.25rem 0;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-home-item {
  @include breakpoint($medium) {
    display: block !important;
  }
  display: none !important;
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}


